.calculator{
    display: block;
    width: 25%;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    position: fixed;
    left: 45%;
    margin: 1.5% 0% 5% -10%;
    border: 1px solid #eee;
}
.calculator-logo{
    font-size: x-large;
    margin: 10px 0px;
    font-family: cursive;
    font-weight: bold;
    display: block;
    color: #454545;
    text-align: center;
}

.LCD{
    display: block;
}

.lcdIn{
    width: 100%;
    padding: 30px 0px;
    font-size: large;
    text-align: right;
    outline: none !important;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: transparent;
    transition: 0.3s ease;
}
.lcdIn:hover{
    box-shadow: 0px 1px 2px 0.2px #454545 inset;
    transition: 0.3s ease;
}

.lcdIn:disabled{
    background-color: none;
}
.calc-Buttons{
    margin: 10px 0px;
    display: block;
    text-align: center;
}

.calc-Buttons button{
    height: 65px;
    width: 65px;
    padding: 10px;
    display: inline-block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    transition: 0.3s ease background;
    font-size: large;
}
.calc-Buttons button:hover{
    background-color: #ccc;
    transition: 0.3s ease background;
    transform: scale(1.1);
}
.calc-Buttons button:focus{
    background-color: red;
}
.disabled-btn{
    content: " ";
    background-color: transparent;
}
.operators{
    background-color: dodgerblue;
    color: white;
}
.clear-btn{
    background-color: tomato;
    color: #fefefe;
}
.green-btns{
    background-color: lawngreen;
    color: #fff;
}
.calc-Buttons button:last-child{
    width: 140px;
    border-radius: 100px;
}
.equals{
    background-color: dodgerblue;
    color: #fff;
}